<% include partials/header %>

<h1> Lab 10 index </h1>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>

    <br/>
    <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a>

    <br/>
    <a href="helloworld.html">Relative Link Example</a>

    <br/>
    <a href="/templatelink">Template Link Example</a>
    <br/>

    <h1>Accounts</h1>

    <a href="accounts/?email=chad@gmail.com">Account by ID</a>
    <br/>
    <a href="/accounts/all">All Accounts</a>
    <br/>


    <h1>Company</h1>
    <a href="/company/?companyName=facebook">Company</a>
    <br/>

    <a href="/company/all">All Company</a>
    <br/>

    <a href="/company/gpa">Company GPA Table</a>
    <br/>

    <a href="/companyUser/">Company User Table</a>
    <br/>

    <h1>School</h1>

    <a href="/school/?school_id=Chico-State">School by ID</a>
    <br/>
    <a href="/school/all">All Schools</a>

    <br/>

    <h1>Education</h1>

    <a href="/education/?school_id=Chico-State">School by ID</a>
    <br/>
    <a href="/education/all">All Schools in education resume lookup table</a>

    <br/>

    <h1>Create</h1>
    <a href="/users/create">Create Account</a>

    <br/>
    <a href="/school/create">Create School</a>

    <br/>
    <a href="/company/create">Create Company</a>




<!--<a href="http://www.cs.sonoma.edu/~haderman/">CS355 Lab 8</a>-->
<!--<br />-->
<!--<a href="http://localhost:3000/index.html">Absolute Link Example</a>-->
<!--<br />-->
<!--<a href="/templatelink">Template Link Example</a>-->
<!--<br />-->
<!--<br />-->

<!--<h1>User Accounts</h1>-->
<!--<a href="/accounts/?account_id=chadvink@gmail.com">Account By ID</a>-->
<!--<br />-->
<!--<a href="/accounts/all">All Accounts</a>-->

<!--<h1>Address</h1>-->
<!--<a href="/address/">All Addresses</a><br />-->
<!--<a href="/address/create">Create Address</a>-->

<!--<h1>Company</h1>-->
<!--<a href="/company/">View All Companies</a>-->
<% include partials/footer.ejs %>